/* @media only screen and (max-width: 1600px) {.section_top{padding-left: 30px; padding-right: 30px;}} */
@media only screen and (max-width: 820px) {
    .header .menu-toggle, .off-canvas-menu { display: block; }
    .off-canvas-menu { opacity: 0; pointer-events: none; }
    .header.menu-active .off-canvas-menu { opacity: 1; pointer-events: all; }
    .off-canvas-menu ul { text-align: left; padding: 0; border-top: 1px solid #000; margin-top: 15vh; margin-bottom: 50px; }
    .off-canvas-menu { position: fixed; top: 0; width: 100%; background: var(--white-color); height: 100%; min-height: 100vh; transition: all 0.2s linear; }
    .header_nav_links { padding: 18px 0; display: flex; width: 100%; border-bottom: 1px solid #000; }
    .menu-toggle { font-size: 26px; color: var(--white-color); }
    .sticky_content { position: inherit; padding-top: 0; }
    .olympains_item { flex-wrap: wrap; row-gap: 30px; }
    .olympains_item-left { flex: 100%; }
    .olympains_item-right .olympains_item-right--inner { max-width: 95%; margin-left: auto; }
    .olympains_item-left .olympains_item-left--inner { padding-left: clamp(50px, 13vw, 140px); max-width: 700px; }
    .olympains_item.flex_item:nth-child(2n) .olympains_item-right .olympains_item-right--inner { margin-right: auto; margin-left: 0; }
    .introducing_bottom { display: flex; flex-wrap: wrap-reverse; width: 100%; justify-content: center; align-items: center; row-gap: 30px; }
    .introducing_bottom-left { align-items: center; text-align: center; max-width: 420px; }
    .footer_col { flex: 100%; }
    .footer_inner .site_container-full.site_flex { row-gap: 50px; }
    .footer_right .footer_right-inner { gap: 20px; max-width: 100%; }
    .footer_nav-links { flex: 1; }
    .footer_logo { max-width: clamp(60px, 30vw, 170px); }
    .image_section-inner img { height: 70vh; }
    .introducing_top.section_top{text-align: center; max-width: 500px; margin: 0 auto;}
    
 }
